# Pycache
__pycache__

# Configuration Files
config.json

# Log Files
performance/out
logs/

nohup.out

# HOSTNAME stores hostname used. Used in cassandra and cockroachdb database seeding process
HOSTNAME
